<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalise.css">
    <link rel="stylesheet" href="../css/addItem.css">
</head>

<body>
    <div class="container">
        <div class="addItem screen">
            <div class="heading-1">Add Items</div>
            <div class="addItem-split">
                <div class="addItem-group-addItems">
                    <div class="heading-2">Add Item</div>
                    <input type="text" class="addItem-input-name" placeholder="Name of Item" />
                    <input type="textarea" class="addItem-input-description" placeholder="Description" />
                    <input type="text" class="addItem-input-picture" placeholder="Picture Address" />
                    <input type="number" class="addItem-input-price" placeholder="Price" />
                </div>

                <div class="addItem-group-inStock">
                    <div class="heading-2">In Stock</div>
                    <div class="addItem-group-list">item - price</div>
                </div>
            </div>

            <button class="addItem-button-add">Add Item</button>
            <button class="addItem-button-closeScreen">Close Screen</button>
        </div>
        <script src="../JS/admin.js"></script>
</body>

</html>