<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Items</title>
    <link rel="stylesheet" href="../CSS/normalise.css">
    <link rel="stylesheet" href="../CSS/viewItem.css">
</head>

<body>

    <div class="viewItems">
        <div class="viewitems-section-products">
            <div class="heading-1">Our Products</div>
            <div class="view-items-container">

            </div>
        </div>

        <div class="viewItems-section-detailedView">
            <div class="viewItems-section-close">X</div>
            <div class="viewItems-product-name"></div>
            <div class="viewItems-product-description"> </div>
            <div class="viewItems-product-price"></div>
            <img src="" alt="" class="viewItems-product-image" />
            <div class="viewItems-bttn-addBasket">Add to Basket</div>
        </div>

    </div>
    </div>

</body>
<script src="../JS/view.js"></script>

</html>