<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Items</title>
    <link rel="stylesheet" href="../CSS/normalise.css">
    <link rel="stylesheet" href="../CSS/viewItem.css">
</head>

<body>

    <div class="viewItems">
        <div class="viewitems-section-products">
            <div class="heading-1">Our Products</div>
            <div class="view-items-container">

            </div>
        </div>

        <div class="viewItems-section-detailedView">
            <div class="viewItems-product-name">Blanket</div>
            <div class="viewItems-product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                nesciunt at eum cum consectetur dolores assumenda ea consequatur
                quibusdam doloremque atque voluptatibus aperiam aspernatur aliquid,
                nemo in autem maiores est.
            </div>
            <div class="viewItems-product-price">£19.99</div>
            <div class="viewItems-product-image">
                <img src="https://cdn.imagin.studio/getImage?&customer=carwow&tailoring=carwow&make=volvo&modelFamily=xc40&modelRange=recharge&modelVariant=od&modelYear=2020&powerTrain=fossil&transmission=0&bodySize=5&trim=0&paintId=pspc0188&fileType=png&zoomType=fullscreen&width=800&angle=23&billingTag=web"
                    alt="" />
            </div>
            <div class="viewItems-bttn-addBasket">Add to Basket</div>
        </div>
    </div>

</body>
<script src="../JS/view.js"></script>

</html>