.card{
    width:20vw;
    margin:20px;
    border-radius:20px;
    height:50vh;
    box-shadow: 5px 5px 5px 5px gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card:active{
    box-shadow: 0 0 #fff; 
}
.card-header{
    height:5vh;
    width:100%;
    padding:1rem;
    display:flex;
    justify-content: center;
    background-color: orangered;
    font:600 18pt sans-serif;
}
.card-body{
    padding:1rem;
    height:20vh;
    overflow: hidden;
    font:400 14pt sans-serif;
    overflow-wrap: normal;
}
.card-footer{
    height:8vh;
    display:flex;
    justify-content: center;
    font:600 18pt sans-serif;
}
/* Select Items */

.view-items-screens{
    display: flex;
    flex-direction: row;

}
.view-items-container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.view-items-container .card{
    margin:2vw;
}
.viewItems-section-detailedView{
    height:70vh;
    display:none;
    padding-top:6rem;
    width:40%;
    top:0;
    position:sticky;
    
}
.viewItems-section-close{
    position:absolute;
    right:0;
    color:red;
    font:800 18pt Sans-Serif;
}
.viewItems-product-name{
    font:600 2.6rem sans-serif;
    margin:1rem;
}
.viewItems-product-price{
    margin-left: 10px;
    font:500 1.8rem sans-serif;
}
.viewItems-product-image {
    width:70%;
    margin:1rem 0;
}
.viewItems-product-description{
    font:500 1.8rem sans-serif;
    margin:1rem;
}
.viewItems-bttn-addBasket{
    display:flex;
    justify-content: center;
    align-items: center;
    font:800 18pt sans-serif;
    border-radius: 15px;
    background-color: aquamarine;
    border: 1px solid black;
    box-shadow: 1px 1px 1px navy;
    
}
.viewItems-bttn-addBasket:active{
    border:none;
    box-shadow: none;
}