body{
    box-sizing:border-box;
    font:400 16pt sans-serif;
}
.heading-1{
    font:900 28pt Sans-serif;
}
.heading-2{
    font:700 20pt Sans-serif;
}
.section{
    border:2px black solid;
    margin:3vw;
    padding:2vw;
}
.sides{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.side{
    display: flex;
    flex-direction:column;
    width:40%;
}