<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toolbar</title>
    <link rel="stylesheet" href="../CSS/normalise.css">
    <link rel="stylesheet" href="../CSS/toolbar.css">
    <link rel="stylesheet" href="../CSS/style.css">

</head>

<body>
    <div class="toolbar">
        <div>
            <img src="../img/millishop.png" alt="Logo" class="toolbar-img-logo" />
            <div class="toolbar-icon-group">

                <div class="link">View Items</div>
                <div class="link">Basket</div>
                <div class="link">Admin</div>
            </div>
        </div>
    </div>
</body>

</html>