:root{
    --primary : #378beb;
    --secondary : #ebe2ab;
}
*{
    font:600 18pt sans-serif;
    text-decoration: none;
}
/* Common Controls */

    /* Button */
    .button{
        height:5vw;
        width:20vh;
        background-color: var(--secondary);
        color:var(--primary);
        border:#378beb solid 2px;
        border-radius: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .button:active{
        border:none;
    }

    /* Input */
    .input{
        border: 3px solid var(--primary);
        border-radius: 15px;
        padding:0 1vw;
        margin:1vh 0;
        color:var(--primary);

    }
    .input:focus{
        outline:none;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--primary);
        
    }
.container{
    width:80%;
    margin:auto;
}
.toolbar{
    margin:10px;
}
.toolbar{
    width:100%;
    height:5%;
    Padding:1% 2%;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    color:var(--secondary);
    box-shadow: 5px 5px 5px var(--secondary),5px 5px 5px var(--primary);
}
.toolbar .links{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar a{
    color : var(--secondary);
    font-size:16pt;
    padding:3% 0;
    border-radius: 10px;
}
.toolbar a:hover{
    color : var(--primary);
    background-color: var(--secondary);
}
/* Section */
.section{
    width:100%;
    height:80vh;
    background-color: var(--secondary);
    color:var(--primary);
    box-shadow: 0 5px 5px var(--primary);
    border-radius: 20px;
    margin:3vh 0;
    padding:2vh;

}

/* Admin */
.admin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:80%;
}
.addItems{
    width:40%;
}
.stock{
    width:40%;
}

/* ViewItems */
.viewItems{

}
/* PurchaseItems */
.buyItems{

}
