/* Containers */
.toolbar{
    height:40px;
    width:100%;
    background-color: blueviolet;
}
.toolbar div{
    width:80%;
    margin:auto;
}
.container{
    width:80%;
    margin:auto;
}

.addItem-split{
    display:flex;
    flex-direction: row;
    margin:2rem 0;
}
/* Universal Styles */
    .heading-1{
        font:800 3.2rem Sans-serif;
        display: block;
    }
    .heading-2{
        font:600 2.6rem sans-serif;
        display: block;
    }
/* Toolbar */
.toolbar-image-group div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toolbar img{
    height:40px;
}

/* Add Items */
.addItem .heading-1{
    padding-top:5vh
}
.addItem-group-addItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:25vh;
    margin:5vh 2vw;
    
}
.addItem-group-inStock .heading-2{
    padding-bottom: 2vh;
}
.addItem-group-list{
    font:600 18pt sans-serif;
}    

.addItem-group-inStock{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height:25vh;
    margin:5vh 2vw;
}

.addItem input{
    width:20rem;
    font:600 18pt sans-serif;
    border:1px navy solid;
    border-radius: 15px;
    box-shadow: 2px 2px navy;;
    padding-left:1vw;
    margin:2vh;
}

.addItem button{
    border-radius: 15px;
    font:500 16pt sans-serif;
    margin:20px;
    margin-bottom: 20vh;
}


/* View Items */

.card{
    width:20vw;
    margin:20px;
    border-radius:20px;
    height:50vh;
    box-shadow: 5px 5px 5px 5px gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card:active{
    box-shadow: 0 0 #fff; 
}
.card-header{
    height:5vh;
    width:100%;
    padding:1rem;
    display:flex;
    justify-content: center;
    background-color: orangered;
    font:600 18pt sans-serif;
}
.card-body{
    padding:1rem;
    height:20vh;
    overflow: hidden;
    font:400 14pt sans-serif;
    overflow-wrap: normal;
}
.card-footer{
    height:8vh;
    display:flex;
    justify-content: center;
    font:600 18pt sans-serif;
}
/* Select Items */
.viewItems{
    display:flex;
    display:row;
}
.view-items-container{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.view-items-container .card{
    margin:2vw;
}
.viewItems-section-detailedView{
    height:70vh;
    width:35%;
    display:none;
    padding-top:6rem;
}
.viewItems-product-name{
    font:600 2.6rem sans-serif;
    margin-left:10px;
}
.viewItems-product-price{
    margin-left: 10px;
    font:500 1.8rem sans-serif;
}
.viewItems-product-image img{
    width:80%;
}
.viewItems-bttn-addBasket{
    display:flex;
    justify-content: center;
    align-items: center;
    font:800 18pt sans-serif;
    border-radius: 15px;;
    background-color: aquamarine;
    border: 1px solid black;
    box-shadow: 1px 1px 1px navy;
    
}
.viewItems-bttn-addBasket:active{
    border:none;
    box-shadow: none;
}
/* Delivery */
.basket{
    width:100%;
    height:70vh;

}
.basket-split{
    display:flex;
    flex-direction: row;

}
.basket-left, .basket-right{
    width:45%;
}
.basket .heading-2{
    margin-bottom:1rem;
}
.basket-items-table{
    Display:flex;
    flex-direction:column;
    font:400 18pt Sans-serif;
}
.basket-group-address{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.basket-input{
    width:40%;
    font:400 14pt sans-serif;
    color:black;
    border:1px solid navy;
    margin-bottom:1rem;
}

/* Payment */
.card-details-group{
    display: flex;
    flex-direction: column;
}
 .card-details-group input{
    width:30%;
    font:400 14pt sans-serif;
    color:black;
    border:1px solid navy;
    margin:0.5rem;
 }
 .payment-button-submit{
    display:flex;
    width:30%;
    justify-content: center;
    align-items: center;
    font:800 18pt sans-serif;
    border-radius: 15px;;
    background-color: aquamarine;
    border: 1px solid black;
    box-shadow: 1px 1px 1px navy;
 }
